.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20vw;
    padding: 15px;
    background-color: rgb(168, 168, 255);
    img{
        height: 50px;
        width: 50px;
        object-fit: cover;
        object-position: center;
        margin: 0;
    }
}
.form{
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    width: 40%;
    align-items: center;
    background-color: pink;
    border-radius: 30px;
    div{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        padding: 10px;
        input{
            width: 80%;
            padding: 5px;
            border: none;
            border-radius: 10px;
        }
    }
}
.info{
    div{
        margin: auto;
        margin-top: 40px;
        padding: 20px;
        width: 40%;
        align-items: center;
        background-color: rgb(192, 238, 255);
        border-radius: 30px;
        text-align: center;
    }
}
button{
    border: none;
    border-bottom: 1px solid rgb(118, 41, 157);
    border-radius: 20px;
    background-color: rgb(222, 156, 255);
    padding: 5px 10px;
    margin: 5px;
    width: 100px;
}