.contPpal{
    padding: 60px;
    background-color: rgb(255, 223, 182);
}
.usuario{
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
}
.listaFrutas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    .frutaCaja{
        border: 2px solid rgb(134, 79, 42);
        border-radius: 20px;
        background-color: burlywood;
        color: rgb(71, 43, 23);
        box-shadow: 0 5px 10px rgb(71, 43, 23);
        padding: 10px;
        text-align: center;
        margin: 10px;
        p{
            margin: 0;
            padding: 10px;
        }
        img{
            height: 20vw;
            width: 15vw;
            min-width: 200px;
            min-height: 250px;
            object-fit: cover;
            object-position: center;
        }
    }
}