.contPrincipalBool{
    background-color: antiquewhite;
    color: black;
    text-align: center;
    min-height: 100vh;
}
.contEjemplosBool{
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
}
.cardEjem{
    width: 38%;
    padding: 5%;
    color: white;
    margin: 1%;
    background-color: rgb(16, 16, 16);
}
.cardEjem button{
    padding: 10px;
    background-color: rgb(255, 69, 255);
    border: none;
    border-radius: 10px;
    color: white;
    margin: 1%;
}
.users{
    display: flex;
    justify-content: space-evenly;
    .box{
        border: 2px solid white;
        padding: 0 15px;
        h4 {
            margin: 0;
            padding: 10px;
        }
        p{
            margin: 0;
            padding: 10px;
        }
    }
}
.photos{
    display: flex;
    justify-content: space-around;
    .photo {
        margin: 10px;
        img {
            width: 15vw;
            height: 10vw;
            object-fit: cover;
            object-position: center;
            margin: 0;
        }
    }
}
.photoFinish {
    margin: 10px;
    display: flex;
    justify-content: center;
    img{
    width: 30vw;
    height: 25vw;
    object-fit: cover;
    object-position: center;
    }
}