.all{
    background-color: rgb(103, 103, 255);
    height: 100vh;
    .navbar{
        background-color: rgb(158, 255, 255);
        display: flex;
        justify-content: space-between;
        padding: 10px 100px;
        height: 100px;
    }
    .form{
        background-color: rgb(255, 205, 141);
        border-radius: 40px;
        margin: auto;
        margin-top: 30px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: fit-content;
        input{
            width: 30vw;
            padding: 5px;
        }
        button{
            background-color: rgb(236, 171, 86);
            width: fit-content;
            margin: auto;
        }
    }
    button{
        border: none;
        border-radius: 20px;
        padding: 5px 10px;
        background-color: rgb(73, 202, 202);
    }
}